     <form method="get" action="/quizes/<%= quiz.id %>/answer">      
       Tema: <%= quiz.tema %> <p>    
       Pregunta: <%= quiz.pregunta %> <p>
       <input type="text" name="respuesta" value=""/>
       <input type="submit" value="Enviar">
     </form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>
<br>
<table>
<tr>
      <td>
         <strong>Comentarios:</strong>
      </td>

</tr>

<%for(index in quiz.Comments){%>
   <%if(quiz.Comments[index].publicado || session.user){%>
   <tr>
      <td>
      </td>
      <td>
     - <%=quiz.Comments[index].texto%>
      </td>
      <td>
        <%if(session.user && !quiz.Comments[index].publicado){%>
            <a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish">
                                                              <button>Publicar</button></a>
        <%}%>
      </td>
      <td>
        <%if(session.user){%>
        <form method="post" action="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>?_method=delete">
			<button type="submit" onClick="return confirm('Borrar Comentario');">
			Borrar
			</button>
	</form>
        <%}%>
      </td>
     
   <%}%>
  </tr>
<%}%>
</table>
